/* Navigation Bar Style Codes */

.navigationBar {
    -fx-background-color: #57A0D2;
    -fx-spacing: 52px;
}

.navigationButton {
    -fx-cursor: hand;
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 5 15 5 15;
    -fx-font-size: 21px;
    -fx-font-weight: 900;
}

.navigationButton:hover, .navigationButton:focused{
    -fx-background-color: #E4CD05;
    -fx-text-fill: #00674F;
}

.navigationButton:focused{

    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;

}

.navigationButton:pressed {
    -fx-background-color: #FF7F50, transparent;
    -fx-text-fill: darkblue;
    -fx-underline: true;
    -fx-font-weight: 900;
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
}


.homeButton{

    -fx-text-fill: #FF7F50;

}

.searchBar{

    -fx-pref-width: 360px;
    -fx-min-width: 200px;
    -fx-font-size: 21px;

}

#usernameSignUpLabel{
    -fx-text-fill: #352E32
    -fx-font-size: 100px;

}

.lightPageLayout{
    -fx-background-color: #DBE2E9;
}



/* Sign Up and Sign In Pages Style Codes */

Text, #signupLabel, #signupUsername, #signupEmail, #signupPassword, #signinLabel, #signinUsername, #signinPassword{

    -fx-text-fill: black;
    -fx-font-weight: 900;
    -fx-font-size: 40px;

}

.signupTextfield, .signinTextfield{

    -fx-text-fill black;
    -fx-font-size: 25px;
    -fx-pref-width: 600px;
    -fx-height: 50px;

}

#signupButton, #signupGoogleButton, #signinButton, #signinGoogleButton{
    -fx-cursor: hand;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-font-size: 40px;
    -fx-font-weight: 900;
    -fx-background-image: none;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-box-size: border-box;
    -fx-text-fill: #1f1f1f;
    -fx-font-family: 'Roboto', arial, sans-serif;
    -fx-outline: none;
    -fx-padding: 0;
    -fx-pref-width: 600.0px;

}

#signupButton, #signinButton{

    -fx-text-fill: white;
    -fx-background-color: #57A0D2;

}

#signupGoogleButton, #signinGoogleButton{

    -fx-underline: false;
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-graphic-text-gap: 20px;
    -fx-alignment: CENTER;
    /*
      overflow: hidden;
      position: relative;
      text-align: center;
      -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
      transition: background-color .218s, border-color .218s, box-shadow .218s;
      vertical-align: middle;
      white-space: nowrap;*/
}

#signupButton:hover, #signupButton:focused, #signupGoogleButton:hover, #signupGoogleButton:focused,
#signinButton:hover, #signinButton:focused, #signinGoogleButton:hover, #signinGoogleButton:focused{
    -fx-background-color: #E4CD05;
    -fx-text-fill: #00674F;
}

#signupButton:focused, #signupGoogleButton:focused, #signinButton:focused, #signinGoogleButton:focused{

    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;

}

#signupButton:pressed, #signupGoogleButton:pressed, #signinButton:pressed, #signinGoogleButton:pressed{
    -fx-background-color: #FF7F50, transparent;
    -fx-text-fill: darkblue;
    -fx-underline: true;
    -fx-font-weight: 900;
    -fx-background-insets: 0, 1;
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
}

