/* Universal Style Codes (Apply For Multiple Pages) */

.lightPageLayout{
    -fx-background-color: #DBE2E9;
}

.darkPageLayout{

    -fx-background-color: black;

}

.generalText{

    -fx-text-fill: black;
    -fx-font-size: 30px;

}

.OR, .AND, .importantText{

    -fx-text-fill: black;
    -fx-font-weight: 900;
    -fx-font-size: 40px;

}

.submitButton, #searchButton, #advanceSearchButton, .actionButton, .textButton{

    -fx-cursor: hand;
    -fx-background-image: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-background-radius: 25;
    -fx-border-radius: 25;
    -fx-padding: 0;
    -fx-box-size: border-box;
    -fx-outline: transparent;

}

.submitButton, #searchButton, #advanceSearchButton{

    -fx-text-fill: white;
    -fx-font-weight: 900;

}

#searchButton, #advanceSearchButton{

    -fx-font-size: 20px;

}

.actionButton, .submitButton {

    -fx-font-weight: 900;

}

.actionButton{

    -fx-background-color: white;
    -fx-font-size: 40px;
    -fx-text-fill: black;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-underline: false;
    -fx-graphic-text-gap: 20px;
    -fx-alignment: CENTER;

}

.submitButton{

    -fx-font-size: 40px;
    -fx-background-color: #1877F2;

}

#searchButton{

    -fx-background-color: #1877F2;

}

#advanceSearchButton{

    -fx-background-color: #800808;

}

.textButton {

    -fx-text-fill: black;
    -fx-pref-width: -1;
    -fx-font-size: 20px;
    -fx-font-weight: 900;
    -fx-border-width: 0;
    -fx-padding:0;
    -fx-background-color: #DBE2E9;

}

.underlinedText{

    -fx-border-color: transparent transparent lightblue transparent;
    -fx-border-width: 0 0 2 0;
    -fx-border-insets: 0 0 -2 0;

}

.actionHyperLink{

    -fx-font-size: 20px;
    -fx-background-image: transparent;
    -fx-outline: transparent;
    -fx-padding: 0;

}

.titled-pane.collapsibleContainer > .title{

    -fx-alignment: CENTER;
    -fx-background-color: lightgreen;
    -fx-text-fill: black;
    -fx-font-weight: 900;
    -fx-font-size: 20px;
    -fx-background-insets: 0;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-effect: transparent;

}


.titled-pane.collapsibleContainer > .title > .text {

    -fx-translate-x: 5;

}

.titled-pane.collapsibleContainer > .content{

    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-weight: 500;
    -fx-font-size: 16px;
    -fx-background-insets: 0;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-color: black;

}

/* Navigation Bar Style Codes */

.sidebarMenu {

    -fx-background-color: #B6D0E2;

}


.navigationButton {

    -fx-cursor: hand;
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-background-insets: 0;
    -fx-background-radius: 0;

}

.navigationButton{

    -fx-padding: 5 15 5 15;
    -fx-font-size: 20px;
    -fx-font-weight: 900;
    -fx-pref-width: 300;

}

.homeButton{

    -fx-text-fill: linear-gradient(to right, #5170ff, #ff66c4);

}

.searchBar{

    -fx-font-size: 20px;
    -fx-text-fill: black;
    -fx-prompt-text-fill: #898989;
    -fx-background-radius: 25;
    -fx-border-radius: 25;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-color: black;

}


#usernameSignUpLabel{
    -fx-text-fill: #352E32;
    -fx-font-size: 100px;

}

.actionButton:hover, .actionButton:focused,
.submitButton:hover, .submitButton:focused,
#searchButton:hover, #searchButton:focused,
#advanceSearchButton:hover, #advanceSearchButton:focused,
.navigationButton:hover, .navigationButton:focused{

    -fx-background-color: #E4CD05;
    -fx-text-fill: #00674F;

}

.actionButton:pressed, .submitButton:pressed, #searchButton:pressed, #advanceSearchButton:pressed, .navigationButton:pressed{

    -fx-background-color: #FDAA48, transparent;
    -fx-text-fill: #067FFF;
    -fx-font-weight: 900;
    -fx-background-insets: 0, 1;
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;

}

.actionHyperLink:focused,.actionHyperLink:pressed{

    -fx-text-fill: #FDAA48;
    -fx-focus-color: transparent;
    -fx-border-color: transparent;

}

/* Sign Up and Sign In Pages Style Codes */

.signupTextfield, .signinTextfield{

    -fx-text-fill: black;
    -fx-font-size: 25px;
    -fx-pref-width: 600px;
    -fx-height: 50px;

}

/* About Us Page Style Codes */

.scroll-bar:vertical .track {

    -fx-background-color: black;
    -fx-background-radius: 15;

}

.scroll-bar:vertical .thumb {

    -fx-background-color: #4A90E2;
    -fx-background-radius: 10;

}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {

    -fx-padding: 10;
    -fx-text-fill: white;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {

    -fx-scale-x: 2;
    -fx-scale-y: 2;

}